.basket {
 background-color: #ded3d3;
}

.basket-select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-select > input {
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.basket > h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.basket-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 25px;
  border-radius: 30px;
}

.basket-item-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 30px;
  height: 100%;
}

.payment {
  margin-left: 10px;
  border-radius: 20px;
  position: relative;
  margin-right: 10px;
}

.payment-summary {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: sticky;
  top: 20px;
  border: 1px solid rgb(222, 222, 222);
}

.payment-summary-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .payment-summary-row {
    display: grid;
    grid-template-columns: 1fr auto;
  
    font-size: 15px;
    margin-bottom: 9px;
  }
  
  .payment-summary-money {
    text-align: right;
  }
  
  .subtotal-row .payment-summary-money {
    border-top: 1px solid rgb(222, 222, 222);
  }
  
  .subtotal-row div {
    padding-top: 9px;
  }
  
  .total-row {
    color: rgb(177, 39, 4);
    font-weight: 700;
    font-size: 18px;
  
    border-top: 1px solid rgb(222, 222, 222);
    padding-top: 18px;
  }
  
  .place-order-button {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
  
    margin-top: 11px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 768px) {
    .basket-container {
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }
  
    .basket-item-container {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .payment {
      margin-right: 0;
    }

    span {
      font-size: 9px;
    }

    p {
      font-size: 12px;
    }

    h1 {
      font-size: 20px;
    }

    div {
      font-size: 9px;
    }
  }