.basket-item {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
}

.basket-item-details-grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 25px;
  }
  
  @media (max-width: 1000px) {
    .basket-item-details-grid {
      grid-template-columns: 100px 1fr;
      row-gap: 30px;
    }
  }
  
  .product-image {
    max-width: 100%;
    max-height: 120px;
  
    /* margin-left: auto;
       margin-right auto;
       Is a trick for centering an element horizontally
       without needing a container. */
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-name {
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .product-price {
    color: rgb(177, 39, 4);
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .product-quantity .link-primary {
    margin-left: 3px;
  }

  .amount-quantity {
    font-weight: 700;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .quantity-label {
    font-weight: 700;
    color: #553d1e;
  }

  .update-quantity-link {
    color: rgb(0, 118, 0);
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
  }

  .delete-quantity-link {
    color: rgb(177, 39, 4);
    font-size: 15px;
    margin-left: 3px;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    .delivery-options {
      grid-column: 1 / span 2;
    }
  }
  
  .delivery-options-title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .delivery-option {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin-bottom: 12px;
    cursor: pointer;
    column-gap: 10px;
    align-items: center;
  }
  
  .delivery-option-input {
    margin-left: 0px;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
  
  .delivery-option-date {
    color: rgb(0, 118, 0);
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 0.8em;
  }
  
  .delivery-option-price {
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-size: 0.8em;
  }

