.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.home--image {
    width: 100%;
    z-index: 1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-mode: alpha;
}

.home--row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}