
.home--class {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.home--container {
    max-width: 1500px;
    background-color: #ded3d3;
}

/* .enchance-coming-soon {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  } */

.home--image {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: -220px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-mode: alpha;
}

.home--row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home--rest {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.home--rest > * {
    flex-basis: calc(50% - 10px);
    margin: 5px;
}

.home--category {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--primary-bg-color);
    
}

.home--category > a {
    text-decoration: none;
    color: inherit;
}

.category--button {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.category--button a {
    text-decoration: none;
    color: inherit;
}


.category--button:hover,
.category--button:active,
.home--category span:hover,
.home--category span.active {
    background-color: var(--accent-color);
    border-bottom: 3px solid #ffffff;
}

