.screen-container {
    position: absolute;
    width: 100vw;
    z-index: 1;
    top: 10%;
}

.relative-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.error-container {
    position: absolute;
    top: 10%;
}

.error-info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    gap: 20px;
}

.error-info > span {
    font-size: 0.7rem;
    cursor: pointer;
}