.home {
    position: relative;
}
.home--class {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.home--container {
    max-width: 1500px;
    background-color: #ded3d3;
}


.home--image {
    position: relative;
    width: 100%;
    margin-top: -30px;
    z-index: 1;
    margin-bottom: -90px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-mode: alpha;
}

@media only screen and (min-width: 901px) {
    .home--container {
        padding: 30px;
    }
    
    .home--image {
        margin-bottom: -250px;
    }
}

.home--row {
    display: flex;
    z-index: 1;
    gap: 20px;
    margin: 10px;
}

.home--rest {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.home--rest > * {
    flex-basis: calc(50% - 10px);
    margin: 5px;
}

.home--category {
    display: flex;
    height: 70px;
    padding: 0px 40px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: var(--primary-bg-color);
}

.home--category > a {
    text-decoration: none;
    color: inherit;
}

.category--button {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    padding: 10px;
}

.category--button a {
    text-decoration: none;
    color: inherit;
}


.category--button:hover,
.category--button:active,
.home--category span:hover,
.home--category span.active {
    background-color: var(--accent-color);
    border-bottom: 3px solid #ffffff;
    color: white;
}

.selected {
    background-color: var(--accent-color);
    border-bottom: 3px solid #ffffff;
    color: white;
    border-radius: 10px;
}

