/* src/styles/OrderDetails.css */
.order-details {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.order-details h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 10px;
}

.order-details--container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.order-summary p, .order-items p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.6;
}

.order-items {
    margin-top: 30px;
}

.order-item {
    background-color: var(--search-bg-color);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.order-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.order-item--image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 20px;
    background-color: white;
    padding: 10px;
}

.order-item--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-item--details p {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}

.loading, .error {
    font-size: 1.5rem;
    color: var(--accent-color);
    text-align: center;
    margin-top: 50px;
}
