:root {
    --primary-bg-color: #f5f5f5;    /* Light gray background */
    --accent-color: #FF7F00;        /* Light orange accent color */
    --text-color: #333333;          /* Dark gray text color */
    --search-bg-color: #e0e0e0;     /* Light gray search background */
  }

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 450ms;
    border-radius: 10px;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05); /* Increase the size on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

.product--info {
    max-height: 100px;
    margin-bottom: 15px;
    text-align: left;
}

.product--title {
    font-size: 14px;
    overflow-y: hidden;
}

.product--price {
    margin-top: 5px;
    color: var(--text-color);
}

.product--rating {
    display: flex;
}

.product--image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product--button {
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid;
    margin-top: 10px;
    border-color: var(--accent-color);
}

.product--button:hover {
    background-color: #ddb347;
}

.product--button:active {
    background-color: #9c7e31;
}

.quantity-selector {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.quantity-selector .decrement,
.quantity-selector .increment {
    background-color: #1f2937;
    border-radius: 50%;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.quantity-selector > p {
    margin: 0;
    font-size: 20px;
}